.image-link-container {
  position: relative;
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 2px 15px #00000012;
  transition: 0.2s linear;
}

.image-link-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background: transparent linear-gradient(0, #373736 0%, #37373600 100%) 0% 0%
    no-repeat padding-box;
  z-index: 1;
  mix-blend-mode: multiply;
}

.image-link-container .content {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  padding: 2rem;
}

.image-link-container .content span {
  color: #7db72b;
}

.image-link-container .content span i {
  font-size: 0.6rem;
  transition: 0.2s linear;
}

.image-link-container:hover .content span i {
  margin-left: 0.25rem;
}

.image-link-container:hover {
  box-shadow: 0px 2px 5px #00000012;
}

@media (max-width: 772px) {
  .image-link-container {
    margin: 1.5rem;
  }
}
