@font-face {
  font-family: 'ahc';
  src:  url('fonts/ahc.eot?uuus0e');
  src:  url('fonts/ahc.eot?uuus0e#iefix') format('embedded-opentype'),
    url('fonts/ahc.ttf?uuus0e') format('truetype'),
    url('fonts/ahc.woff?uuus0e') format('woff'),
    url('fonts/ahc.svg?uuus0e#ahc') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ahc-"], [class*=" ahc-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ahc' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ahc-info:before {
  content: "\e90a";
}
.ahc-minus:before {
  content: "\ea0b";
}
.ahc-check:before {
  content: "\e909";
}
.ahc-pin:before {
  content: "\e902";
}
.ahc-FB:before {
  content: "\e903";
}
.ahc-Insta:before {
  content: "\e904";
}
.ahc-Linkedin:before {
  content: "\e905";
}
.ahc-mail:before {
  content: "\e906";
}
.ahc-phone:before {
  content: "\e907";
}
.ahc-Youtube:before {
  content: "\e908";
}
.ahc-arrow-right:before {
  content: "\e901";
}
.ahc-arrow-down:before {
  content: "\e900";
}
