icomoon-font-path ?= 'fonts'

ahc-arrow-down = "\e900"

ahc-arrow-right = "\e901"

ahc-Youtube = "\e908"

ahc-phone = "\e907"

ahc-mail = "\e906"

ahc-Linkedin = "\e905"

ahc-Insta = "\e904"

ahc-FB = "\e903"

ahc-pin = "\e902"

ahc-check = "\e909"