.image-circles {
  height: 100%;
}

.image-circles-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-image {
  position: relative;
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 100%;
  left: 5rem;
  bottom: 0;
  max-height: 475px;
  max-width: 475px;
}

.green-circle {
  width: 12.75rem;
  height: 12.75rem;
  position: absolute;
  background-color: #7db72b;
  bottom: 0;
  right: 0;
  border-radius: 100%;
}

.light-green-circle {
  width: 8.125rem;
  height: 8.125rem;
  position: absolute;
  background-color: #7db72b;
  top: 2rem;
  right: 0;
  border-radius: 100%;
  opacity: 0.23;
}

@media (max-width: 772px) {
  .main-image {
    width: 70%;
    left: 0;
  }
  .light-green-circle {
    width: 20%;
    height: auto;
    aspect-ratio: 1;
  }

  .green-circle {
    width: 40%;
    height: auto;
    aspect-ratio: 1;
  }

  .image-circles {
    padding-bottom: 2rem;
  }
}
