.banner-text-container {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 20rem;
}

.banner-text-container__background-image-overlay {
  opacity: 0.85;
  position: relative;
  background-color: #7eb728;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-text-container__content-wrapper {
  padding: 3rem 0rem;
  z-index: 2;
  position: relative;
}

.breadcrumbs a,
.breadcrumbs i,
.breadcrumbs .breadcrumb_last {
  color: #fff;
  opacity: 0.7;
  transition: 0.2s linear;
}

.breadcrumbs i {
  padding: 0 0.5rem;
  font-size: 10px;
}

.breadcrumbs a {
  color: #fff;
}

.breadcrumbs a:hover {
  opacity: 1;
}

@media (max-width: 772px) {
  .banner-text-container__content-wrapper {
    padding: 2rem 1rem;
  }
}
