.club-locations {
  display: flex;
  padding: 1rem 0;
}

.club-locations__img {
  border-radius: 100%;
  aspect-ratio: 1;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.club-locations__link {
  color: #373736;
}

.club-locations__link i {
  color: #7db72b;
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.club-locations__link:hover i {
  padding-right: 0.7rem;
}

.club-locations .my-auto {
  display: flex;
  flex-direction: column;
}

.club-locations__button {
  color: #7db72b;
}

.club-locations__button i {
  font-size: 0.6rem;
  transition: 0.2s linear;
}

.club-locations__button:hover i {
  margin-left: 0.2rem;
}
