.instructor-container__image {
  width: 55%;
  height: auto;
  aspect-ratio: 1;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
}

.instructor-container__content h3 {
  color: #7db72b;
}

.instructor-container__content {
  text-align: center;
  width: 100%;
}
