.member-images {
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.grey-container {
  background-color: rgba(196, 196, 196, 0.15);
  padding: 5rem 0;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

@media (max-width: 772px) {
  .member-column:nth-last-child(-n + 3) {
    display: none;
  }
}
