/*
Theme Name: Active Health Center
Theme URI: https://www.maatwerkonline.nl
Version: 1.0.0
Author: Maatwerk Online
Author URI: https://www.maatwerkonline.nl/contact/
Description: This Theme is designed and developed by Maatwerk Online
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: maatwerkonline
Domain Path: /languages
*/

/*
Register all your vars in the theme.json file of the theme.
You can then receive them with the var() function like this:
    var(--wp--custom--header--content-size);
for a var in the theme.json that is added lik this:
    "custom": {
        "header" : {
            "contentSize": "1240px"
        },
    }
*/

/* Add you own custom font here */
@font-face {
  font-family: "effra-bold";
  src: url("assets/fonts/effra-bold.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "effra-light";
  src: url("assets/fonts/effra-light.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "effra-medium";
  src: url("assets/fonts/effra-medium.woff2") format("woff2");
  font-display: auto;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "effra-medium-italic";
  src: url("assets/fonts/effra-medium-italic.woff2") format("woff2");
  font-display: auto;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "effra-heavy-italic";
  src: url("assets/fonts/effra-heavy-italic.woff2") format("woff2");
  font-display: auto;
  font-style: italic;
  font-weight: 900;
}

body {
  font-family: "effra-light";
  background-color: #fff;
  color: #373736;
  line-height: 25px;
}

.editor-styles-wrapper {
  font-family: "effra-light";
  background-color: #fff;
  color: #373736;
}

p,
a {
  font-family: "effra-light";
  font-size: 0.875rem;
}

h1 {
  font-family: "effra-heavy-italic";
  font-size: 4.3125rem;
  line-height: 1;
}

h2 {
  font-family: "effra-bold";
  font-size: 2.8125rem;
  line-height: 1;
}

h3 {
  font-family: "effra-medium";
  font-size: 1.75rem;
  line-height: 1;
}

h3 {
  font-family: "effra-medium";
  line-height: 1;
  font-size: 1.5rem;
}

h6 {
  font-family: "effra-medium";
  line-height: 1;
  font-size: 0.875rem;
}

/* Default Header */
.header-color {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  height: 6.25rem;
  transition: 0.2s linear;
}

.header-color.scrolled,
.header-color.not-home {
  background-color: #fff;
  box-shadow: 0px 2px 15px #00000012;
}

.header-color a.nav-link {
  transition: 0.2s linear;
}

.header-color.scrolled a.nav-link,
.header-color.not-home a.nav-link {
  color: #000 !important;
}

.admin-bar .header-color {
  top: 32px;
}

#header .navbar {
  width: 100%;
  height: 6.25rem;
  padding: 0;
}

#header .navbar .container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 6.25rem;
}

#header .navbar .container .navbar-brand {
  height: 6.25rem;
}

#sidebar-wrapper .navbar-nav .nav-link {
  width: 100%;
  color: #fff;
  padding: 10px 15px;
}

#wrapper {
  display: flex;
}

#sidebar-wrapper .navbar-nav .nav-link:hover {
  background: #283137;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link,
#sidebar-wrapper .navbar-nav .account .nav-link {
  background: #283137;
  border-bottom: 1px solid #212b2f;
  padding-top: 18px;
  padding-bottom: 18px;
}

#sidebar-wrapper .navbar-nav .my-account .nav-link {
  padding-top: 22px;
  padding-bottom: 22px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .nav {
  width: 15rem;
  overflow: hidden;
}

#page-content-wrapper {
  min-width: 100vw;
  position: relative;
}

#wrapper.toggled #page-content-wrapper:before {
  content: "";
  position: absolute;
  z-index: 2080;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: default;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.navbar-brand img {
  height: 6.25rem;
  width: auto;
  padding: 0.3rem;
  transition: 0.2s linear;
}

.scrolled .navbar-brand img,
.not-home .navbar-brand img {
  margin-top: 1.2rem;
}

.scrolled .navbar-brand,
.not-home .navbar-brand {
  overflow: hidden;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.dropdown .dropdown-toggle {
  position: relative;
  padding-right: 1rem;
}

.dropdown .dropdown-toggle::after {
  content: "\e900";
  font-family: "ahc";
  font-size: 0.3rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 10rem;
  background-color: #fff;
  opacity: 0;
  display: none;
  transition: 0.2s linear;
  padding: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}

#header .navbar-nav li {
  margin: 0;
  padding: 5px 10px;
  list-style: none;
  position: relative;
  padding-right: 1.5rem;
  min-width: 3.5rem;
  border-radius: 0.25rem;
}

#header .navbar-nav ul {
  padding-left: 0;
}

#header .navbar-nav li:last-child {
  padding-right: 0;
}

#header .navbar-nav li .nav-link {
  color: #fff;
  font-size: var(--wp--custom--header--menu--font-size);
  text-transform: var(--wp--custom--header--menu--text-transform);
}

#header .navbar-nav li.dropdown-item .nav-link {
  color: #000;
}

#header .navbar-nav li .nav-link:hover,
#header .navbar-nav .nav-link.current-page-parent {
  opacity: 0.7;
}

.dropdown-item.current_page_item {
  background-color: #f8f9fa;
}

/* Footer styling */
#footer {
  max-width: var(--wp--custom--header--content-size);
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  overflow: inherit;
  padding: 5rem 0;
}

.container.trademark {
  background-color: #373736;
}

.footer-trademark {
  width: 100%;
  padding: 1rem;
  height: 3.125rem;
}

.footer-trademark p {
  font-size: 11px;
  line-height: 1;
  position: relative;
  top: 3px;
}

.trademark-logo {
  height: 1rem;
  width: auto;
}

.footer-nav-1 img {
  height: 9.5rem !important;
  width: auto;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.footer-nav a {
  color: #373736;
  font-family: "effra-medium";
  line-height: 25px;
  padding-left: 1rem;
  position: relative;
  transition: 0.2s linear;
}

.footer-nav.contact a {
  font-family: "effra-light";
}

.footer-nav a:hover {
  padding-left: 1.25rem;
}

.footer-nav a i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-49%);
  font-size: 0.6rem;
}

.footer-nav.contact i {
  color: #7db72b;
}

#footer .container {
  max-width: 100%;
}

#footer .socials i {
  color: #7db72b;
  font-size: 2rem;
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

#footer .socials i:hover {
  opacity: 0.7;
}

/* Additional Bootstrap */

.d-flex {
  display: flex !important;
}

.text-white {
  color: #fff !important;
}

b,
strong {
  font-family: "effra-bold";
}

.container-padding {
  margin: 10rem 0 !important;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: #fff;
}

.wp-block-button .wp-block-button__link i {
  padding-left: 0.5rem;
  font-size: 0.7rem;
}

mark {
  padding: 0 !important;
}

.checkmark-image {
  background-color: #7db72b;
  border-radius: 100%;
}

.grey-container {
  background-color: rgba(196, 196, 196, 0.15);
  padding: 5rem 0;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

@media (max-width: 772px) {
  .container-padding {
    margin: 5rem 0 !important;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  #footer {
    padding: 2rem 0;
  }

  .footer-nav-1 .widget_media_image {
    display: flex;
    justify-content: center;
  }
}

.banner-text-container {
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  min-height: 20rem;
}

.banner-text-container__background-image-overlay {
  opacity: 0.85;
  position: relative;
  background-color: #7eb728;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.banner-text-container__content-wrapper {
  padding: 3rem 0rem;
  z-index: 2;
  position: relative;
}

.breadcrumbs a,
.breadcrumbs i,
.breadcrumbs .breadcrumb_last {
  color: #fff;
  opacity: 0.7;
  transition: 0.2s linear;
}

.breadcrumbs i {
  padding: 0 0.5rem;
  font-size: 10px;
}

.breadcrumbs a {
  color: #fff;
}

.breadcrumbs a:hover {
  opacity: 1;
}

@media (max-width: 772px) {
  .banner-text-container__content-wrapper {
    padding: 2rem 1rem;
  }
}
