.review {
  padding: 0 7rem;
}

.review__images {
  position: relative;
  min-height: 23rem;
}

.review__images img {
  width: 16.5rem;
  height: auto;
  aspect-ratio: 1;
  position: absolute;
  right: 5rem;
  bottom: 2rem;
  border-radius: 100%;
}

.review__content h3 {
  color: #7db72b;
}

.review-green-circle {
  width: 13.5rem;
  height: auto;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0;
  right: 13rem;
  border-radius: 100%;
  background-color: #7db72b;
  opacity: 0.4;
  z-index: -1;
}

.slick-dots {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.slick-dots button {
  display: none;
}

.slick-dots li {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  background-color: #373736;
  margin-right: 0.5rem;
  transition: 0.2s linear;
}

.slick-dots li.slick-active,
.slick-dots li:hover {
  background-color: #c4c4c4;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 20px solid #373736;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: 0.2s linear;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 20px solid #373736;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.2s linear;
  z-index: 2;
}

.slick-disabled,
.slick-arrow:hover {
  border-right-color: #c4c4c4;
  border-left-color: #c4c4c4;
}

.slick-list {
  height: fit-content;
}

@media (max-width: 772px) {
  .review {
    padding: 0;
  }

  .review-green-circle {
    right: 1rem;
  }

  .review__images img {
    left: 1rem;
  }
}
