.banner-video {
  margin-top: -6.25rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* margin-top: -6.25rem; */
}

.video-container__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

.video-container__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.video-container__content .buttons {
  justify-content: center;
  text-align: center;
}

.video-container__down {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: 2px solid #fff;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  opacity: 1;
  transition: 0.2s linear;
}

.video-container__down:hover {
  opacity: 0.7;
  font-size: 1rem;
}

.video-container__fade {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.6;
}
