.subscription {
    width: 100%;
    height: 100%;
    box-shadow: 0px 2px 15px #00000012;
    background:rgba(255,255,255, 0.7);
    padding: 1.5rem 2.25rem;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.subscription-image {
    position: absolute;
    z-index: -1;
    top: 11rem;
    object-fit: cover;
    height: calc(100% - 11rem);
    width: 100vw;
}

.subscription .capital {
    text-transform: uppercase;
}

.subscription-row {
    position: relative;
    padding-top: 3rem;
    padding-bottom: 3.75rem;
}

.price {
    min-height: 86px;
}

.price .special-margin {
    margin-top: .7rem;
}

.price h3 {
    font-size: 37px;
}

.subscription__list {
    list-style: none;
    padding: 0;
}

.subscription__list li {
    position: relative;
    padding-left: 2rem;
    font-size: 14px;
}

.subscription__list li i {
    color: #7DB72B;
    font-size: .8rem;
    position: relative;
    cursor: pointer;
    top: 1px;
}

.subscription__list li i .list-description {
    position: absolute;
    width: 10rem;
    height: auto;
    background-color: #fff;
    color: #373736;
    padding: 1rem;
    top: 100%;
    left: 0;
    z-index: 2;
    opacity: 0;
    transition: .2s linear;
}

.subscription__list li i:hover .list-description {
    opacity: 1;
}

.subscription__list .included {
    font-family: "effra-medium";
}

.subscription__list .included::before {
    content: "\e909";
    font-family: "ahc";
    color: #7DB72B;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: .8rem;
}

.subscription__list .excluded::before {
    content: "\ea0b";
    font-family: "ahc";
    color: #C4C4C4;
    position: absolute;
    left: 0;
    top: 0;
    font-size: .8rem;
}

.subscription__list .excluded {
    font-family: "effra-medium";
    color: #A2A2A2;
    text-decoration: line-through;
}

.subscription_links .link {
    color: #373736;
    text-decoration: underline;
}

.most-chosen {
    position: absolute;
    right: -1.6rem;
    top: -2.05rem;
    width: 8.75rem;
}

.best-result {
    position: absolute;
    width: 6.5rem;
    top: -1rem;
    right: -1rem;
}

.wp-block-button__link.blue {
    background: #426CE5 !important;
    border-image: none !important;
    border-color: #426CE5;
}

.wp-block-button__link.initial {
    text-transform: initial;
}