.triple-circle-image {
  position: relative;
}

.triple-circle-image__img {
  position: absolute;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  height: auto;
  aspect-ratio: 1;
}

.right.triple-circle-image__img-1 {
  width: 22.75rem;
  top: 5rem;
  left: 1rem;
}

.right.triple-circle-image__img-2 {
  width: 12.5rem;
  top: 11rem;
  right: 0;
}

.right.triple-circle-image__img-3 {
  width: 15.8rem;
  top: 25rem;
  right: 4rem;
}

.left.triple-circle-image__img-1 {
  width: 14.5rem;
  top: 10rem;
  left: 0;
}

.left.triple-circle-image__img-2 {
  width: 22.75rem;
  top: 0;
  right: 1rem;
}

.left.triple-circle-image__img-3 {
  width: 26rem;
  top: 25rem;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 772px) {
  .right.triple-circle-image__img-1 {
    width: 15rem;
    top: 0;
    left: 0;
  }

  .right.triple-circle-image__img-2 {
    width: 8rem;
    top: 15rem;
    left: 2rem;
  }

  .right.triple-circle-image__img-3 {
    width: 12rem;
    top: 12rem;
    right: 1rem;
  }

  .triple-circle-image {
    min-height: 27rem;
  }

  .left.triple-circle-image__img-1 {
    width: 8rem;
    top: 10rem;
    left: 0;
  }

  .left.triple-circle-image__img-2 {
    width: 15rem;
    top: 0;
    right: 0;
  }

  .left.triple-circle-image__img-3 {
    width: 12rem;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
