.usp-text {
    padding-left: 2.5rem;
    position: relative;
}

.usp-text::after {
    content: "\e909";
    font-family: "ahc";
    position: absolute;
    top: 0;
    left: 0;
    color: #7DB72B;
    font-size: 1rem;
}