/* Card Specific Styles */

.blog_article__content_holder {
  border-radius: 21px;
  box-shadow: 0px 2px 20px #0000000f;
  display: block;
}

.blog_article__content_holder__image {
  overflow: hidden;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
}

.blog_article__content_holder__image img {
  height: 235px;
  max-height: 235px;
  width: -webkit-fill-available;
  border-radius: 15px;
  object-fit: cover;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.blog_article__content_holder:hover .blog_article__content_holder__image img {
  transform: scale(1.15);
  transition: all 0.2s ease-in-out;
}

.blog_article__content_holder__author_date {
  font-size: 12px;
  color: #0d0d0d;
}

.blog_article__content_holder__author_date p {
  margin: unset;
}

.blog_article__content_holder__author_date svg {
  width: 10px;
  height: 10px;
  margin-top: -2px;
}

.blog_article__content_holder__title {
  color: #7db72b;
}

.blog_article__content_holder__content {
  color: #0d0d0d;
}

.blog_article__content_holder__content p {
  padding-top: 20px;
  border-top: 1px solid #7db72b54;
}

.blog_article__content_holder__read_more {
  text-align: center;
}

.blog_article__content_holder__image__categories {
  position: absolute;
  top: 25px;
  right: -15px;
}

.blog_article__content_holder__image__categories span {
  background-color: #7db72b;
  border-radius: 9px;
  padding: 0.2rem 1rem;
  font-size: 10px;
  color: #fff;
}

.slick-slider[data-centermode="1"] .blog_article a {
  transform: scale(0.8);
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}

.slick-slider[data-centermode="1"] .blog_article.slick-center a {
  opacity: 1;
  transform: scale(1);
}

.carousel .blog_article {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

/* Loop Specific Styles */

.terms {
  margin-bottom: 10px;
}

.terms__block {
  color: #7db72b;
  transition: 0.2s linear;
  border-radius: 13px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  display: inline-block;
}

.terms__block:hover {
  color: #fff;
  background-color: #7db72b;
}

.terms__block--active {
  color: #fff !important;
  background-color: #7db72b;
  transition: 0.2s linear;
  border-radius: 13px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-right: 0.5rem;
  display: inline-block;
}

.pagination .page-numbers {
  padding: 5px;
  border: 1px solid #000000;
}

.pagination .page-numbers.current {
  color: #fff;
  background-color: #7db72b;
  border: 1px solid #7db72b;
}

.loop-container {
  position: relative;
}

.loop-container.loading {
  opacity: 0.7;
}

.loop-container .loader-image {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}

.loop-container .loader-image img {
  width: 40px;
  height: 40px;
}

.loop-container.loading .loader-image {
  display: block;
}

/* Arrows Slider */

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  z-index: 100;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  line-height: 1;
  opacity: 0.75;
  font-weight: bold;
  color: #7db72b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -35px;
  background-image: url("images/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  transition: all 0.2s ease-in-out;
}

.slick-next {
  right: -35px;
  background-image: url("images/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 20px;
  width: 20px;
  transition: all 0.2s ease-in-out;
}

.slick-prev:hover,
.slick-next:hover {
  height: 25px;
}

.slick-dots {
  display: table;
  margin: 0px auto 0 auto !important;
  padding: 0px !important;
}
.slick-dots li {
  position: relative;
  display: inline !important;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: inline;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 0px;
  cursor: pointer;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  font-size: 78px;
  line-height: 20px;
  background-color: #7db72b;
  border-radius: 50%;
  filter: Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.2s ease-in-out;
  margin: 10px;
}
.slick-dots li.slick-active button:before {
  filter: Alpha(Opacity=100);
  opacity: 1;
}
